<div [ngClass]="{'loader': !searchLoaded}"></div>

<div class="row">
  <div class="col-sm-6" *ngFor="let article of searchResultsArray">
    <div class="card news-card">
      <img *ngIf="article.urlToImage" class="card-img-top news-image" src={{article.urlToImage}} alt={{article.title}}>
      <div class="card-body">
        <h5 class="card-title news-title"> {{article.title}}</h5>
        <p class="card-text news-description">{{article.description}}</p>
        <p class="card-text news-published">
          <small class="text-muted">Published on {{article.publishedAt | date: 'dd/MM/yyyy'}}</small>
        </p>
        <div class="row">
          <div class="col-md-4" style="margin-left:1%">
            <button type="button" *ngIf="CheckNewsInFavorites(article)" class="btn btn-secondary favorite-btn" (click)="removeFromFavorites(article);">Remove from Favorites</button>
            <button type="button" *ngIf="!CheckNewsInFavorites(article)" class="btn btn-success unfavorite-btn" (click)="addNewsToFavorites(article);">Add to Favorites</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{'disabled': pageNo <= 1}">
      <a class="page-link" [ngClass]="{'disabled': pageNo <= 1}" (click)="pageNo=pageNo-1; searchByText(searchTxt, pageNo)" tabindex="-1">Previous</a>
    </li>
    <li class="page-item" [ngClass]="{'disabled': totalCount <= 20}">
      <a class="page-link" [ngClass]="{'disabled': totalCount <= 20}" (click)="pageNo=pageNo+1; searchByText(searchTxt, pageNo)">Next</a>
    </li>
  </ul>
</nav>
<hr>
